
  

.wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1000px 1fr 1fr 1fr 1fr);
    justify-content: center;
    grid-gap: 5px;
    background-color: #ddd;
    padding: 10px;    
}

.item {
  min-width: 5rem;
    padding: 1px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    height: 60px;
}

.item:nth-child(-n + 1) { grid-column: span 4; }
.item:nth-child(n + 12) { grid-column: span 1; }
.item:nth-child(n + 14) { grid-column: span 2; }
.item:nth-child(n + 15) { grid-column: span 1; }
.item:nth-child(n + 17) { grid-column: span 3; }
.item:nth-child(n + 18) { grid-column: span 1; }

button{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #bbb;
    border: none;
    border-radius: 6px;
    left: 5%;
    width: 100%;
    height: 100%;
    bottom: 5%;
}

button:hover {
    background-color: #3c3c3c
}

button:active {
    background-color: #222222;
}


span.a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    float: right;
    padding: 10px 10px;
}